:root {
  --color-1:#17a2b8;
  --color-2:#00394f;
  --color-3:#666666;
  --color-4:white;
  --color-5:#f8f9fa;
  --fontfamily-1:"comic sans ms" ;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* a {
  text-decoration: none;
}
* h1 {
  margin: 0;
  font-family: var(--fontfamily-1);
}
* h2 {
  margin: 0;
}
* p {
  margin: 0;
}

body {
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.411);
  padding: 10px 15px;
  position: sticky;
  top: 0;
  background-color: var(--color-4);
  opacity: 1;
  z-index: 1;
}
.nav svg {
  width: 70px;
  height: 70px;
}
.nav .nav-logo {
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.nav .nav-logo h1 {
  font-size: 3rem;
  margin: 0;
  color: var(--color-1);
  font-weight: 600;
  font-family: "comic sans ms";
}
.nav .nav-logo svg {
  fill: var(--color-2);
  transition: 0.5s;
}
.nav .nav-logo:hover svg {
  fill: var(--color-1);
}
.nav .nav-links {
  display: flex;
  align-items: center;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
.nav .nav-links .on {
  color: var(--color-1);
}
.nav .nav-links a {
  color: var(--color-3);
  font-size: 1.1rem;
  font-weight: 600;
}
.nav .nav-links a:hover {
  color: var(--color-1);
}
.nav .nav-join a {
  background-color: var(--color-1);
  padding: 10px 30px;
  color: white;
  border-radius: 20px;
  font-size: 1.2rem;
  transition: 1s;
}
.nav .menu {
  display: none;
}
.nav .menu svg {
  width: 40px;
  height: 40px;
}

.intro {
  background-color: var(--color-1);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.intro a {
  color: white;
  background-color: var(--color-2);
  padding: 20px 30px;
  width: 200px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro .intro-words {
  width: 35%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px 5px;
}
.intro .intro-words h1 {
  font-size: 3.9rem;
  font-weight: 600;
  font-family: var(--fontfamily-1);
}
.intro .intro-words h2 {
  font-weight: 600;
  font-family: var(--fontfamily-1);
}
.intro .intro-picture img {
  width: 100%;
}

.services {
  padding: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.services .service-card {
  background-color: var(--color-5);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
  border-radius: 5px;
  display: flex;
  width: 400px;
  padding: 30px 20px;
  align-items: flex-start;
  justify-content: flex-start;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.services .service-card svg {
  width: 150px;
  height: 150px;
  fill: var(--color-1);
}
.services .service-card h2 {
  font-family: var(--fontfamily-1);
}
.services .service-card p {
  color: var(--color-3);
  font-size: 1rem;
  line-height: 25px;
}
.services .service-card .service-words {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about {
  padding: 30px;
}
.about .about-one {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.about .about-one .about-img {
  border-radius: 10px;
  width: 30%;
}
.about .about-one h2 {
  font-weight: 500;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  color: var(--color-1);
}
.about .about-one h2 hr {
  width: 50px;
  height: 1px;
  margin: 0;
  border: 1px solid var(--color-1);
}
.about .about-one .about-us {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about .about-one .about-us a {
  background-color: var(--color-1);
  width: 150px;
  color: var(--color-4);
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .about-one .about-us .our-service {
  display: flex;
  justify-content: baseline;
  align-items: center;
  -moz-column-gap: 39px;
       column-gap: 39px;
}
.about .about-one .about-us .our-service img {
  border-radius: 10px;
}
.about .about-one .about-us .our-service .our-service-one {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.about .about-one .about-us .our-service .our-service-one p {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.classes {
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.classes h2 {
  font-weight: 500;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-1);
}
.classes h2 hr {
  width: 80px;
  height: 1px;
  border: 1px solid var(--color-1);
}
.classes .classes-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.classes .classes-cards .classes-card {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.391);
  width: 350px;
  background: var(--color-5);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.classes .classes-cards .classes-card img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.classes .classes-cards .classes-card .classes-card-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;
  width: 100%;
}
.classes .classes-cards .classes-card .classes-card-one p {
  text-align: center;
  color: var(--color-3);
  font-size: 0.9rem;
}
.classes .classes-cards .classes-card .classes-card-one h1 {
  font-size: 1.5rem;
}
.classes .classes-cards .classes-card .classes-card-two {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.classes .classes-cards .classes-card .classes-card-two table {
  border-collapse: collapse;
}
.classes .classes-cards .classes-card .classes-card-two table td, .classes .classes-cards .classes-card .classes-card-two table th {
  width: 150px;
  padding: 5px 5px;
}
.classes .classes-cards .classes-card .classes-card-two table td {
  border-bottom: 1px solid var(--color-3);
}
.classes .classes-cards .classes-card .classes-card-two table th {
  border-bottom: 1px solid var(--color-3);
  border-right: 1px solid var(--color-3);
  color: rgba(0, 0, 0, 0.502);
}
.classes .classes-cards .classes-card .classes-card-two table .no-bottom-border {
  border-bottom: none;
}
.classes .classes-cards .classes-card a {
  background-color: var(--color-1);
  color: var(--color-5);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
}

.booking {
  padding: 30px;
  display: flex;
  justify-content: space-around;
}
.booking .booking-one {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.booking .booking-one a {
  background-color: var(--color-1);
  color: var(--color-5);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin: 10px;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 0.9rem;
}
.booking .booking-one h2 {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-1);
  gap: 10px;
}
.booking .booking-one h2 hr {
  margin: 0;
  width: 50px;
  height: 1px;
  border: 1px solid var(--color-1);
}
.booking .booking-one .booking-check {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.booking .booking-one .booking-check p {
  font-size: 0.9rem;
}
.booking .booking-one .booking-check svg {
  width: 25px;
  height: 25px;
  fill: var(--color-1);
}
.booking .booking-one .booking-check .booking-check-one {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.booking .booking-two {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.booking .booking-two .booking-form {
  background-color: var(--color-2);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-radius: 5px 5px 0 0;
}
.booking .booking-two .booking-form h1 {
  color: var(--color-4);
}
.booking .booking-two form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--color-1);
  height: 100%;
  width: 100%;
  padding: 20px 0;
  border-radius: 0 0 5px 5px;
}
.booking .booking-two form input {
  width: 95%;
  background-color: var(--color-4);
  padding: 15px 35px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.booking .booking-two form select {
  width: 95%;
  background-color: var(--color-4);
  padding: 15px 35px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.booking .booking-two form button {
  width: 95%;
  background-color: var(--color-4);
  padding: 15px 35px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--color-2);
  color: var(--color-4);
}

.teachers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
}
.teachers h2 {
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-1);
}
.teachers h2 hr {
  width: 50px;
  height: 1px;
  border: 1px solid var(--color-1);
}
.teachers p {
  font-family: var(--fontfamily-1);
  font-size: 1.2rem;
}
.teachers .teachers-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}
.teachers .teachers-cards .teachers-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 250px;
}
.teachers .teachers-cards .teachers-card:hover .teachers-card-one .teachers-links {
  opacity: 1;
}
.teachers .teachers-cards .teachers-card .teachers-card-one {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
}
.teachers .teachers-cards .teachers-card .teachers-card-one svg {
  width: 20px;
  height: 20px;
}
.teachers .teachers-cards .teachers-card .teachers-card-one img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.teachers .teachers-cards .teachers-card .teachers-card-one .teachers-links {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(23, 163, 184, 0.7098039216);
  gap: 20px;
  opacity: 0;
  transition: 0.5s;
}
.teachers .teachers-cards .teachers-card .teachers-card-one .teachers-links a {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  transition: 1s;
}
.teachers .teachers-cards .teachers-card .teachers-card-one .teachers-links a svg {
  fill: var(--color-4);
  transition: 1s;
}
.teachers .teachers-cards .teachers-card .teachers-card-one .teachers-links a:hover {
  background-color: var(--color-4);
}
.teachers .teachers-cards .teachers-card .teachers-card-one .teachers-links a:hover svg {
  fill: black;
}

.testimony {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  gap: 20px;
}
.testimony h2 {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  gap: 10px;
  color: var(--color-1);
}
.testimony h2 hr {
  width: 50px;
  height: 1px;
  border: 1px solid var(--color-1);
}
.testimony .testimony-cards {
  overflow: auto;
  overflow-x: hidden;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.testimony .testimony-cards a {
  background: var(--color-1);
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.testimony .testimony-cards .testimony-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 450px;
  transition: 0.5s;
}
.testimony .testimony-cards .testimony-card .testimony-card-one {
  width: 400px;
  padding: 10px 20px;
  background-color: var(--color-5);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.267);
  border-radius: 5px;
}
.testimony .testimony-cards .testimony-card .testimony-card-one svg {
  width: 40px;
  height: 40px;
  fill: var(--color-1);
}
.testimony .testimony-cards .testimony-card .testimony-card-two {
  display: flex;
  align-items: center;
  gap: 10px;
}
.testimony .testimony-cards .testimony-card .testimony-card-two img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.testimony .testimony-cards .testimony-card .testimony-card-two .parents-name h1 {
  font-size: 1.2rem;
  color: var(--color-2);
}
.testimony .slide {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.testimony .slide .slide-one {
  width: 15px;
  height: 15px;
  background-color: var(--color-1);
  border-radius: 50%;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 60px;
}
.blog h2 {
  display: flex;
  font-weight: 500;
  font-size: 1.1rem;
  align-items: center;
  gap: 10px;
  color: var(--color-1);
}
.blog h2 hr {
  width: 50px;
  height: 1px;
  border: 1px solid var(--color-1);
}
.blog .blog-cards {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.blog .blog-cards .blog-card {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.253);
  border-radius: 5px;
}
.blog .blog-cards .blog-card img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.blog .blog-cards .blog-card .blog-card-one {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 10px 4px;
  background-color: var(--color-5);
  border-radius: 0 0 5px 5px;
}
.blog .blog-cards .blog-card .blog-card-one h1 {
  font-size: 1.5rem;
}
.blog .blog-cards .blog-card .blog-card-one p {
  font-size: 0.9rem;
  align-items: center;
}
.blog .blog-cards .blog-card .blog-card-one .blog-comments {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px;
}
.blog .blog-cards .blog-card .blog-card-one .blog-comments svg {
  width: 20px;
  height: 20px;
  fill: var(--color-1);
}
.blog .blog-cards .blog-card .blog-card-one .blog-comments .blog-comments-one {
  display: flex;
  align-items: center;
  gap: 2px;
}
.blog .blog-cards .blog-card .blog-card-one a {
  background-color: var(--color-1);
  padding: 10px 20px;
  color: var(--color-4);
  border-radius: 20px;
}

.end {
  background-color: var(--color-2);
  padding: 20px;
}
.end h1 {
  color: var(--color-1);
  font-weight: 500;
  font-size: 1.7rem;
}
.end svg {
  width: 60px;
  height: 60px;
}
.end h2 {
  font-family: var(--fontfamily-1);
}
.end .end-one {
  display: flex;
  justify-content: space-around;
  color: var(--color-4);
}
.end .end-one .end-sites {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.end .end-one .end-sites svg {
  width: 40px;
  height: 40px;
}
.end .end-one .end-sites .sites {
  display: flex;
  align-items: center;
  gap: 20px;
}
.end .end-one .end-sites .sites svg {
  width: 15px;
  height: 15px;
  fill: var(--color-1);
}
.end .end-one .end-sites .sites a {
  border: 1px solid var(--color-1);
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
}
.end .end-one .end-sites a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.end .end-one .end-sites a svg {
  fill: var(--color-1);
}
.end .end-one .end-contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.end .end-one .end-contacts h2 {
  font-size: 1.2rem;
}
.end .end-one .end-contacts svg {
  width: 30px;
  height: 30px;
  fill: var(--color-1);
}
.end .end-one .end-contacts .end-contacts-one {
  display: flex;
  gap: 10px;
}
.end .end-one .end-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.end .end-one .end-links .end-links-one {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.end .end-one .end-links svg {
  width: 20px;
  height: 20px;
  fill: var(--color-4);
}
.end .end-one .end-links a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-4);
}
.end .end-one .ends-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.end .end-one .ends-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.end .end-one .ends-form form input {
  width: 300px;
  padding: 15px 25px;
  outline: none;
  border-radius: 15px;
}
.end .end-one .ends-form form button {
  width: 300px;
  padding: 15px 0px;
  background-color: var(--color-1);
  border-radius: 20px;
  outline: none;
  border: none;
  color: var(--color-4);
  font-size: 1.1rem;
  font-weight: 600;
}
.end .end-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 20px;
  padding: 10px;
}
.end .end-two hr {
  width: 95%;
  border: 1px solid var(--color-1);
}
.end .end-two a {
  color: var(--color-1);
}
.end .end-two a:hover {
  text-decoration: underline;
}
.end .end-two .end-copyright {
  display: flex;
}

.all-intro {
  background-color: var(--color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 10px;
}
.all-intro h1 {
  color: var(--color-4);
  font-size: 5rem;
  font-weight: 500;
}
.all-intro p {
  color: var(--color-4);
}
.all-intro .all-intro-one {
  display: flex;
  align-items: center;
  gap: 10px;
}
.all-intro .all-intro-one a {
  color: var(--color-4);
}

@media (max-width: 1286px) {
  .services {
    padding: 20px;
  }
  .services .service-card {
    width: 350px;
  }
}
@media (max-width: 1206px) {
  .nav {
    justify-content: space-between;
  }
  .nav .nav-links {
    top: 92px;
    position: absolute;
    background-color: var(--color-5);
    justify-content: start;
    align-items: flex-start;
    left: -300px;
    width: 250px;
    height: 700px;
    padding: 40px 20px;
    flex-direction: column;
    gap: 50px;
    transition: 0.3s;
  }
  .nav .onclick {
    left: 0;
  }
  .nav .onclick .nav-join {
    background-color: red;
  }
  .nav .nav-join {
    display: none;
  }
  .nav .menu {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .nav .menu div {
    border-radius: 10px;
    width: 50px;
    height: 8px;
    background-color: var(--color-1);
  }
  .services {
    padding: 20px;
  }
}
@media (max-width: 1168px) {
  .teachers .teachers-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .blog .blog-cards {
    gap: 10px;
  }
}
@media (max-width: 1140px) {
  .blog .blog-cards .blog-card {
    width: 320px;
  }
  .classes .classes-cards {
    gap: 10px;
  }
  .classes .classes-cards .classes-card {
    width: 320px;
  }
  .services {
    gap: 5px;
  }
  .services .service-card {
    width: 320px;
  }
  .blog .blog-cards {
    gap: 10px;
  }
}
@media (max-width: 1018px) {
  .blog .blog-cards {
    gap: 4px;
  }
  .classes .classes-cards {
    gap: 7px;
  }
}
@media (max-width: 1015px) {
  .blog .blog-cards .blog-card {
    width: 300px;
  }
  .services .service-card {
    width: 310px;
  }
}
@media (max-width: 1004px) {
  .services {
    grid-template-columns: 1fr 1fr;
  }
  .services .service-card {
    width: 400px;
  }
  .end .end-one {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 992px) {
  .classes .classes-cards .classes-card {
    width: 300px;
  }
  .blog .blog-cards {
    gap: 5px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 930px) {
  .classes .classes-cards {
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .classes .classes-cards .classes-card {
    width: 350px;
  }
  .teachers .teachers-cards {
    gap: 25px;
  }
}
@media (max-width: 863px) {
  .teachers .teachers-cards {
    grid-template-columns: 1fr 1fr;
  }
  .booking {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  .booking .booking-one {
    width: 85%;
  }
  .booking .booking-one a {
    width: 150px;
  }
  .booking .booking-two {
    width: 550px;
  }
  .booking .booking-two .booking-form {
    width: 100%;
  }
  .services .service-card {
    width: 350px;
  }
  .blog .blog-cards {
    gap: 20px;
  }
  .blog .blog-cards .blog-card {
    width: 350px;
  }
  .about .about-one {
    flex-direction: column;
  }
  .about .about-one .about-img {
    width: 70%;
  }
  .about .about-one .about-us {
    width: 100%;
  }
  .about .about-one .about-us .our-service img {
    width: 30%;
  }
  .intro {
    flex-direction: column;
    gap: 20px;
  }
  .intro .intro-words {
    width: 80%;
  }
}
@media (max-width: 758px) {
  .blog .blog-cards {
    gap: 10px;
  }
  .blog .blog-cards .blog-card {
    width: 320px;
  }
  .services .service-card {
    width: 310px;
  }
  .classes .classes-cards .classes-card {
    width: 310px;
  }
  .all-intro h1 {
    font-size: 3rem;
  }
}
@media (max-width: 688px) {
  .blog .blog-cards .blog-card {
    width: 300px;
  }
  .services {
    grid-template-columns: 1fr;
  }
  .services .service-card {
    width: 100%;
  }
  .classes .classes-cards .classes-card {
    width: 300px;
  }
}
@media (max-width: 648px) {
  .blog .blog-cards {
    grid-template-columns: 1fr;
  }
  .blog .blog-cards .blog-card {
    width: 100%;
  }
  .classes .classes-cards {
    grid-template-columns: 1fr;
  }
  .classes .classes-cards .classes-card {
    width: 100%;
  }
}
@media (max-width: 564px) {
  .booking .booking-two {
    width: 100%;
  }
  .teachers .teachers-cards {
    gap: 10px;
  }
  .teachers .teachers-cards .teachers-card {
    width: 220px;
  }
  .teachers .teachers-cards .teachers-card .teachers-card-one {
    width: 100%;
  }
}
@media (max-width: 468px) {
  body {
    font-size: 15px;
  }
  .teachers .teachers-cards {
    width: 70%;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .teachers .teachers-cards .teachers-card {
    width: 100%;
  }
  .teachers .teachers-cards .teachers-card .teachers-card-one {
    width: 100%;
  }
  .nav .nav-logo {
    gap: 5px;
  }
  .nav .nav-logo h1 {
    font-size: 1.9rem;
  }
  .nav .nav-logo svg {
    width: 45px;
    height: 45px;
  }
  .nav .nav-links {
    width: 200px;
    top: 70px;
  }
  .about {
    padding: 20px 10px;
  }
  .about .about-one .about-img {
    width: 100%;
  }
  .about .about-one .about-us .our-service {
    flex-direction: column;
  }
  .about .about-one .about-us .our-service img {
    width: 100%;
  }
  .classes {
    padding: 20px 5px;
  }
  .classes h2 {
    font-size: 1rem;
  }
  .classes h2 hr {
    width: 30px;
  }
  .classes .classes-cards {
    width: 100%;
  }
  .blog {
    padding: 20px 5px;
  }
  .blog .blog-cards {
    width: 100%;
  }
  .intro {
    padding: 10px 20px;
  }
  .intro .intro-words {
    width: 100%;
  }
  .booking .booking-one {
    width: 100%;
  }
  .services {
    width: 100%;
    padding: 10px;
  }
  .services .service-card {
    width: 90%;
  }
}
@media (max-width: 372px) {
  .services .service-card {
    width: 80%;
  }
  .classes {
    padding: 10px 10px;
  }
  .classes .classes-cards {
    width: 100%;
  }
  .classes .classes-cards .classes-card {
    width: 100%;
  }
  .booking {
    padding: 10px 10px;
  }
  .teachers .teachers-cards {
    width: 100%;
  }
  .intro .intro-words h1 {
    font-size: 3rem;
  }
}
@media (max-width: 400px) {
  .services .service-card {
    width: 100%;
    flex-direction: column;
  }
  .end .end-one {
    width: 100%;
  }
  .end .end-one .end-sites {
    width: 100%;
  }
  .end .end-one .ends-form form input {
    width: 100%;
  }
  .end .end-one .ends-form form button {
    width: 100%;
  }
  .classes {
    padding: 10px 10px;
  }
  .classes .classes-cards .classes-card {
    width: 90%;
  }
}
@media (max-width: 316px) {
  .services .service-card {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}/*# sourceMappingURL=kidkinder.css.map */